.modal{
    min-height: 100vh;
    z-index: 5;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .modal-inner {
    background: white;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding: 1.5rem;
    position: fixed;
    box-sizing: border-box;
    overflow: scroll;
    font-size: 1.3rem;
  }
  .modal-inner .close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    outline: none;
    border: none;
    font-size: 30px;
    background-color: transparent;
  }
  .modal-inner .inner-box {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }
  .modal-inner .inner-box img {
    margin-right: 20px;
    width: 700px;
    height: 500px;
  }
  .modal-inner .inner-box h2 {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    text-decoration: underline;
    margin-top: 10px;
    color: black;
  }
  .modal-inner .inner-box h3 {
    margin-top: 10px;
    color: black;
  }
  
  .price__tag{
    text-align: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 2rem;
    margin-top: 3px;
  }
  
  .rent__price{
    font-weight: bold;
    font-size: 1.5rem;
    gap: 2rem;
  }
  
  .rating{
    display: flex;
    align-items: center;
  }
  
  .modal-inner .inner-box p {
         width: 700px;
        margin-top: 1rem;
        text-align: justify;
        font-size: 20px;
        color: black;
  }
  
  .icon-description{
    margin-left: 7rem;
    display: flex;
    align-items: center;
    margin-top: 3rem;
  }
  
  .section__description{
    display: flex;
    justify-content: space-between;
    color: #000d6b;
    align-items: center;
    gap: 10px;
  }
  
  .modal-inner .inner-box button {
    align-items: center;
    display: inline-block;
    background: #000d6b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
  }
  
  .booking-info {
    margin-top: 2rem;
  }
  
  