@tailwind base;
@tailwind components;
@tailwind utilities;


.App {
  height: 100%
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");


/* STYLING NAVBAR COMPONENT */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.navbar {
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  height: 10vh;
  background-color: black;
  box-shadow: white;
  /* position: relative; */
}

.logo {
  font-size: 30px;
  font-weight: 600;
  color: grey;
  
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  width: 75%;
}

.nav-links li {
  color: white;
  font-size: 20px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  text-transform: capitalize;
}

.nav-links li:hover {
  background-color: grey;
  border-radius: 4.5px;
}

.hero {
  text-align: center;
  margin-top: 15%;
  background-color: black;
}

.hero h1 {
  text-align: center;
  font-size: 80px;
}

.mobile-menu-icon {
  display: none;
}

button {
  border: none;
  text-decoration: none;
  /* font-size: 20px; */
  background: none;
}

@media (max-width: 768px) {
  .logo {
    display: flex;
    position: absolute;
    top: 15px;
    left: 35px;
  }

  .nav-links {
    display: none;
  }

  .nav-links-mobile {
    position: absolute;
    display: block;
    list-style: none;
    box-shadow: rgba(50, 50, 93, 0.23) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    left: 0;
    top: 10%;
    transition: all 0.5s ease-in-out;
    width: 100%;
    background-color: white;
  }

  ul li {
    padding: 32px;
    width: 100%;
    transition: all 0.5s ease-in-out;
    text-align: center;
  }

  .mobile-menu-icon {
    position: absolute;
    display: block;
    right: 20px;
  }

  .hero h1 {
    font-size: 50px;
  }
}


/* STYLING CONTACT COMPONENT */

/* .contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
} */

.contact-body {
  background-image: url("https://c0.wallpaperflare.com/preview/934/179/745/building-ceiling-empty-hallway.jpg");
  background-repeat: no-repeat;
  /* background-position: left; */
  /* background-size: 65% 100%; */
  position: fixed;
  /* top: 6.9%; */
  min-width: 100%;
  min-height: 100%;
}

.contact-container {
  background-color: grey;
  /* padding: 40px; */
  width: 35%;
  height: 100%;
  display: block;
  float: right;
  padding-bottom: 20px;
  /* overflow-y: scroll; */
}

.form-control label {
  display: inline-block;
  margin-bottom: 15px;
  margin-top: 10px;
}

.form-control #message {
  /* width: 100%;
  height: 150px;
  resize: none; */
  border-radius: 10px;
}

.form-control #message input {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: none;
  padding: 10px;
}

.form-control #email {
  /* width: 100%; */
  height: 20px;
  /* resize: none; */
  /* border-radius: 10px; */
}

.form-control #name {
  /* width: 100%; */
  height: 20px;
  /* resize: none; */
  /* border-radius: 10px; */
}

.form-control input {
  display: inline-block;
  background-color: rgb(214, 208, 208);
}

.form-control textarea {
  background-color: rgb(214, 208, 208);
}

.contact .contact-container h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1px;
  font-size: 40px;
  font-weight: 600;
  color: white;
}

/* .contact form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
} */

.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5px;
}

.contact button {
  background-color: black;
  color: white;
  /* padding: 10px 20px; */
  border-radius: 15px;
  /* margin-top: 30px; */
}


/* STYLING ABOUT COMPONENT */

.about .container h2 {
  font-size: 40px;
  font-weight: 600;
  margin-top: 0.05px;
  color: white;
}

.about .center-align {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 80px;
}

.about p {
  margin-top: 50px;
}

.about .container {
  background-color: grey;
  padding: 40px;
  width: 52%;
  height: 100%;
  display: block;
  float: left;
  margin-top: 0.3px;  
}

.about-content p {
  font-size: 20px;
  line-height: 2.47;
  color: black;
}

.about-content a {
  background-color: black;
  color: white;
  padding: 10px;
  border-radius: 4.5px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  left: 20%;
  margin: 0 auto;
  margin-top: 40px;
}

.about .about-body {
  background-image: url("https://c1.wallpaperflare.com/preview/760/122/404/modern-engine-motor-chopper-car-engine.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 48% 100%;
  position: fixed;
  top: 6.9%;
  min-width: 100%;
  min-height: 100%;
}


/* STYLING HOME COMPONENT */

.home .home-welcome {
  font-size: 20px;
  margin-top: 20px;
  background-image: url("https://wallpaperaccess.com/full/1291276.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  position: fixed;
  width: 100%;
  height: 100%;
  margin-top: 0.31px;
}

.home .home-welcome h1 {
  color: white;
  font-size: 45px;
  font-weight: 600;
  margin-top: 100px;
  width:550px;
  margin: 0 auto;
  background: grey;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  position: relative;
  top: 15%;
  right: -45%;
  transform: translate(-50%, -50%);
}

.home .home-welcome h1 span {
  color: black;
  font-size: 30px;
  font-weight: 500;
}

.home .home-welcome h3 {
  color: grey;
  font-size: 25px;
  font-weight: 600;
  margin-top: 5px;
  width:550px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  position: relative;
  top: 15%;
  right: -45%;
  transform: translate(-50%, -50%);
}


/* STYLING SERVICES COMPONENTS */

.services-cards {
  display: block;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: grey;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 60px;
  padding-bottom: 45px;
  width: 100%;
  height: 911px;
}

.services-cards h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 0.05px;
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 600;
  color: white;
}

.responsive .gallery {
  border: 1px solid black;
}

.responsive .gallery img {
  width: 100%;
  height: auto;  
}

.desc {
  padding: 15px;
  text-align: center;
  background-color: black;
  color: white;
  font-size: 20px;
  font-weight: 450;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 20px 10px;
  float: left;
  width: 24.99999%;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

*{
  margin:0;
  padding:0;
  text-decoration: none;
}
.container{
  display:flex;
}
main{
  width: 100%;
  padding: 20px;
  align-items: auto;
}
.sidebar{
  background: #000;
  color: #fff;
  height: 185vh;
  width: 200px;
  transition: all 0.5s;
}
.top_section{
  display: flex;
  align-items:center;
  padding:20px 15px;
}
.logo{
  font-size: 30px;
}
.bars{
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}
.link{
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.link:hover{
  background:gray;
  color: #000;
  transition: all 0.5s;
}
.active{
  background: gray;
  color: #000;
}
.icon, .link_text{
  font-size: 20px;
}
.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: linear-gradient(79deg, #7439db, #C66FBC 48%, #F7944D);
}

.auth-form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 5rem;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
  }
}

label {
  text-align: left;
  padding: 0.25rem 0;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

button {
  border: none;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #7439db;
}

.link-btn {
  background: none;
  color: white;
  text-decoration: underline;
}




