





<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <p>You got a new email from <%= @user.username %>!</p>
  <p>
  User details<br>
  --------------------------
  </p>
  <p>Name: <%= @user.username %></p>
  <p>Email: <%= @user.email %></p>
  <p>
  Message:<br>
  ----------
  </p>
  <p>Welcome</p>
</body>
</html>