.home{
    width: 87vw;
    height: 83vh;
    overflow: scroll;
}

.cars{
 width: 86vw;
 height: 50vh;
 background: linear-gradient(rgb(0, 13, 107, 0.5), rgb(0, 13, 107, 0.5)),
  url("../assets/images/slider-img/slider-1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}
  
  .content {
    padding-top: 150px;
    padding-left: 30px;
  }
  
  .content h1 {
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
  }

  .content h4 {
    color: #fff;
    font-size: 3.2rem;
    font-weight: 500;
  }
  
  .content .reserve_btn {
    align-items: center;
    display: inline-block;
    background: #000d6b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
   
  }
  
  .reserve_btn a {
    text-decoration: none;
    font-weight: 600;
    color: black;
  }
  
  .reserve_btn:hover {
    background: black;
    color: #fff;
  }

  .middle{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .middle img{
    height: 600px;
    width: 800px;
    border-radius: 50px 0px ;
  }

  .home__info .about__find{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: black;
    align-items: center;
    gap: 10px;
  }

  .about__find h1{
    display: flex;
    align-items: center;
  }

  .sect1{
    
    margin-right: 25%;
    font-size: 40px;
    
}

.sect1 hr{
    margin-right: 70%;
    height:2px; 
    width: 100px;
    border: 0 ;
    background-color: grey;
    
}

.sect1 h2.head{
    font-family:'Times New Roman', Times, serif ;
    font-style: italic;
    font-weight: 100;
}

.sect1 p.sect2{
    font-size: large;
    font-style: unset;
    color: gray;
    font-size: 25px;
}

.sect1 button#sect3{
    padding: 10px;
    border-left: 15px;
    background-color:black;
    color:white;
    border-radius:  15px 0px;
    font-size: 20px;
    cursor: pointer;
    
}

  .section_title{
    text-align: center;
    color: black;
    font-size: 3.2rem;
    font-weight: 500;
  }

  .home__info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-left: 2rem;
  }

  .home__info .icon-views{
    display: flex;
    align-items: center;
    margin-top: 3rem;
  }
  
 
  
  /* @media only screen and (max-width: 992px) {
    .content {
      margin-top: -50px;
    }
  
    .content h1 {
      font-size: 2rem;
    }
  }
  
  @media only screen and (max-width: 768px) {
  
    .content h1 {
      font-size: 1.5rem;
    }
  }
   */