
.add-form {
    background-color: black;
    border-radius: 10px;
    margin-left: 20px;
    width:30vw;
    height: 70vh;
    overflow-y: auto;
    /* z-index: 1040px; */
    position: absolute;
  } 
  
  .form-control {
    margin: 20px;
  }
  
  .form-control label {
    display: block;
    color: white;
  }
  
  .form-control input{
    width: 95%;
    height: 20px;
    padding: 5px;
    font-size: 17px;
    border-radius: 5px;
  }

  .form-control select{
    width: 97%;
    height: 30px;
    padding: 5px;
    font: size 17px;
    border-radius: 5px;
  }
  
  .form-control textarea {
    width: 95%;
    height: 100%;
    padding: 5px;
    font: size 17px;
    border-radius: 5px;
  }
  
  /* input[type="submit"] {
    width: 95%;
    background: grey;
    color: black;
    border: none;
    padding: 10px 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
  } */