.test__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  
  }
  .testimonial{
      padding: 3rem;
  }


  .testimonial .section_description{
    font-size: 17px;
  }
  
  .image-desc{
      margin-top: 15px;
      display: flex;
      align-items: center;
      gap:10px;
  }
  
  .image-desc img{
      width: 50px;
      height: 50px;
      border-radius: 50%;
  }
  
  .image-desc h6{
      margin-top: 1.5rem;
  }
  
  @media only screen and (max-width: 768px) {
      .testimonial p {
        font-size: 0.8rem;
        line-height: 1.5rem;
      }
    
      .testimonial h6 {
        font-size: 1rem;
      }
    }
    
    @media only screen and (max-width: 576px) {
      .testimonial img {
        width: 60px !important;
        height: 60px !important;
        object-fit: cover;
      }
    }