.serviceContainer{
    width: 50vw;
    height: 100%;
    overflow: auto;
}

.serviceContainer::-webkit-scrollbar{
  display: none;
}

.serviceContainer .box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 78vh;
    margin-top: 3rem;
  }

.serviceContainer .empty {
    height: 83vh;
    margin-left: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.serviceContainer .empty h2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2.25rem;
    color:black;
  }